.App {
  text-align: center;
  background-color: #e1ccf5;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.menu-item{
  margin: 0px 20px 0 10px;
}
.navbar-light .navbar-nav .nav-link {

  color: #000;
  font-size: 16px;
  font-weight: bold;
  padding-left: 50px;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #9060ab;
}

.nav-link{
  color: #5b2f83;
}
/*+*/
.navbar-brand{
  margin-right: 3rem !important;
}
.dropdown-item:hover {
  background-color: #9f74b8 ;
}
.slider-title{
  font-size: 4.5rem;
  margin-bottom: 30px;
  margin-right: 26rem;
  background-color:#00000073;
  border-radius: 8px;
}
.slider-p{
  font-size: 35px;
  margin-right: 33rem;
  background-color: #00000073;
  border-radius: 8px;
}
.col-md-12{
  background-color: #fff;
  border: 3px solid #e1968e;
}

.d-block{
  height: 580px
} 

@media screen and (max-width: 900px) {
  .d-block {
      height: 336px;}
  }

.form-group{
  margin-bottom: 14px;
}
.form-control{
  border: 1px solid purple;
  margin-bottom: 20px;
}
.form-select{
  border: 1px solid purple;
}

.label-name{
  font-weight: 700;
}
.col-sm-3{
  font-weight: 700;
}
.btn{
  background-color: #5b2f83;
  border: #5b2f83;
  color: white;
  margin-bottom: 10px;
}
.btn:hover{
  background-color: #9060ab;
  color: white;
}
.btn-danger:hover{
  background-color: #9060ab;
}
.btn-block{
  background-color: #9060ab;
}
.btn-info{
  background-color: red;
  float: left;
}
.btn-info:hover{
  background-color: rgb(243, 138, 138);
}
.btn-info-tenant{
  background-color: green;
  float: left;
}
.btn-info-tenant:hover{
  background-color: rgb(101, 199, 101);
}
.btn-update{
  background-color: green;
  margin-left: 59rem;
}
.btn-update:hover{
  background-color: rgb(101, 199, 101);
}
.btn-active{
  background-color: green;
}
.btn-danger {
  background-color: #5b2f83;
}
.btn-danger:hover{
  background-color: #9060ab;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.col2{
  float: left;
  width: 31%;
  padding: 4rem;
}
.whole-user{
  margin-bottom: 10px;
}
.user-table{
    width: 90%;
    margin: 5px 5%;
    padding: 0;
    overflow: hidden;
    border: 2px solid purple;
    border-radius: 14px;
}

@media screen and (max-width: 900px) {
  .user-table {
      display: block;
    }
  }

  .accordion-button {
    font-size: 1.3rem;
  }

  .accordion-button:not(.collapsed){
    background-color: #f59e95;
    color: #000;
    box-shadow:  0 0 0.25rem #000;
  }
  .list-group-item {
    font-weight: 400;
    background-color: #f1efef;
    border: 0px solid rgba(0,0,0,.125)
  }

  .cardgroup{
    margin-top: 20px;
  }
.card-img{
  height: 40px;
  width: 10%;
}

.dropdown-items {
  text-align: center;
}

.table{
  background-color: #a7b0f3;
}
.footer{
  background-color: #a8abab;
  padding-top: 0rem;
  padding-bottom: 0rem;
  text-align: center;
  font-family: 'Noto Sans', sans-serif, cursive;
  color: #000;
}

.footer h4{
  font-size: 1rem;
  font-weight: 700;
  margin-top: 14px;
  margin-left: 13px;
}

footer p{
  font-size: 2rem;
  padding-top: 2.5rem;
  font-weight: 200;
}
.about-us{
  margin-top: 6px;

}
footer li{
  margin: 1rem;
  text-align: left;
}
.footer-links{
  text-decoration: none;
  color: #000;
}
.footer-item{
  width: 35%;
  margin-top: 33px;
}

.footer-social-links{
  margin-left: 67px;
  margin-top: 11px;
}

#mail-icon{
  margin-right: 5px;
}
@media screen and (max-width: 900px) {
  .footer-item {
      width: 100%;
      margin-top: 33px ;}
      .row>* {
        margin-bottom: 5px;
      }
  }

ul{
  list-style-type: none;
  padding-left: 1.5rem !important;
}

@media screen and (max-width: 900px) {
  ul{
    margin-right: 32px ; }
}
  
.footer-links:hover{
  color: white;
}
.social-links{
  color: #000;
}
.social-links:hover{
  color: #000;
}
.btn-social{
  float: left;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  font-size: 1rem;
  line-height: 2rem;
  background-color: #cfc8d3;
  border-color: #000;
  transition: all 0.5s;
  margin-right: 20px;
}

.btn-social:hover{
  background-color: white;
}
.fab{
  color:#000;
}

.copyright{
  background-color:#fff ;
  color: black;
  border: 3px solid #e1968e;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

.add-tenant {
  display: none;
  position: absolute;
  right: -10px;
  top: -10px;
  border-radius: 10px;
  padding: 10px;
}
.my-card{
  background-color: #a7b0f3;
  border: 2px solid #7b7beb;
  border-radius: 14px;
}
.my-card:hover  .add-tenant {
  display: flex;
}
.d-grid{
  margin-top: 24px;
}

.add-tenant:hover {
  display: flex;
}
.add-tenant:active {
  transform: scale(1.1);
}
.p-1 {
  padding: 1.25rem!important;
}

/*+*/
.my-homes{
  font-size: 30px;
  color: #646eb8;
}